[Unit]
Description=Run restic backup {{ item.name }} every night

[Timer]
OnCalendar={{ item.schedule_on_calendar|default(restic_systemd_timer_default_OnCalendar) }}
RandomizedDelaySec={{ item.schedule_randomizeddelaysec|default(restic_systemd_timer_randomizeddelaysec) }}
Persistent=true

[Install]
WantedBy=timers.target
